#topdiv {
    overflow: hidden;
    position: relative;
    float:top;
}
#controlsdiv {
    float:left;
}

#bothtitlediv {
    float:left;
    position: relative;
    top: 12px;
    left: 60px;
    text-align:center;
}

#titlediv {
    font-size:2.8em;
}

#subtitlediv {
    font-size:1.5em;
}

#div1 {
    overflow: hidden;
    position: relative;
    float:bottom;
}

#leftcol {
    float:left;
}
#rightcol {
    float:left;
}


#imageView {
    border: 3px solid #000;
}
#imageTemp {
    position: absolute;
    top: 3px;
    left: 3px;
}

#continue_button {
    position: relative;
    width: 150px;
    height: 80px;
    left: 20px;
    font-size:2em;
}
#back_button {
    position: relative;
    width: 150px;
    height: 80px;
    left: 20px;
    font-size:2em;
}

#footer {
    text-align:center;
    font-size:0.8em;
    float:left;
    position: relative;
    left: 250px;
}