<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body class="page-kind-{{ lower .Kind }} page-type-{{ lower .Type }}">
    {{- partial "header.html" . -}}
    <main id="content">
      {{- block "main" . }}{{- end }}
    </main>
    {{- partial "footer.html" . -}}
    <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
    <script>
      const lightbox = GLightbox({
      selector: '.glightbox', // Tells GLightbox to target links with class="glightbox"
          loop: true // Allows looping from last image back to first
      });
    </script>
  </body>
</html>
