html {
    height:100%;
}

body {
    height:100%;
    background: url('../img/background.jpg') no-repeat bottom left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

hr{
    border-top: 1px solid black;
}

.bodycontent {
    padding:70px;
    background: rgba(255, 255, 255, 0.5);
    border-radius:25px;
}

.bottompadding {
    padding-bottom:250px;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.project {
    border:1px solid black;
    margin-right: -1px;
    margin-bottom: -1px;
    width:50%;
    padding:10px;
}

.projtext{
}

.projtitle {
    font-size:18px;
}

.projsubtitle {
    font-size:12px;
    margin-left:30px;
}

.projdescr {
    margin-top:5px;
}

.projimage{
}